@function bgScrollOffset() {
    @return round(random()*100%);
}

@keyframes headerBgScroll {
    0% { background-position: bgScrollOffset() bgScrollOffset() }
    100% { background-position: bgScrollOffset() bgScrollOffset() }
}

.menu-main {
    float: left;
}

.menu-social {
    float: right;

    // Hide on small screens
    @media screen and (max-width: 35.5em) {
        display: none !important;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    text-align: center;

    // Background animation
    background: rgb(242, 242, 242) image('network.jpg') center repeat-x;
    background-size: 200vh;
    will-change: background-position;
    animation: headerBgScroll 60s linear infinite alternate;

    nav {
        font-size: $menu-font-size;

        form {
            display: inline;
        }

        input {
            height: $menu-font-size + 2pt;
            font-size: $menu-font-size - 4pt;
            width: 16ch;
        }
    }

    h1 {
        // Make sure menu's from above don't interfere
        clear: both;

        // Make each span appear on a new line
        span {
            display: block;
        }

        // Don't underline links
        a {
            text-decoration: none;
        }

        // header is lowercase
        text-transform: lowercase;

        // Specific styling and typography
        opacity: 0.9;
        mix-blend-mode: multiply;

        line-height: 5.4vw;

        .header-ds {
            color: $dsrp-red;
            font-size: 6vw;
            margin-left: -0.1ch;
            word-spacing: -0.3ch;
            letter-spacing: 0.02ch;
        }

        .header-rp {
            color: rgba(0, 173, 239, 0.77);
            font-size: 4vw;
            margin-left: 2.9ch;
            letter-spacing: 0.01ch;
        }
    }
}
