@function bgScrollOffset() {
    @return round(random()*100%);
}

@keyframes headerBgScroll {
    0% { background-position: bgScrollOffset() bgScrollOffset() }
    100% { background-position: bgScrollOffset() bgScrollOffset() }
}

.menu-main {
    float: left;
}

.menu-social {
    float: right;

    // Hide on small screens
    @media screen and (max-width: 35.5em) {
        display: none !important;
    }
}

// Hiding/showing search field
#search-field {
    opacity: 0.0;
    will-change: opacity;
    transition: opacity 0.3s ease-in-out;

    &.is-active {
        opacity: 1.0;
    }
}

.search-container {
    z-index: 1;
}

$close-button-offset: 2em;
$menu-width: 14rem;

.content-wrapper {
    &.menu-open {
        transform: translateX($menu-width);
    }

    will-change: transform;
    transition: transform 0.3s ease-in-out;
}

.menu-full {
    position: absolute;
    top: 0;
    left: -$menu-width;
    width: $menu-width;
    height: 100vh;

    padding-top: $close-button-offset;
    text-align: left;
    font-size: $menu-font-size - 2pt;

    background-color: #888;
    // border-right-style: 10px solid ;
    border-right: 4px solid #666;
    z-index: 10;

    .pure-menu-link {
        color: rgb(240, 240, 240);
        border: 1px solid #999;
    }

    .menu-close {
        float: right;
        margin-top: -$close-button-offset;
        font-size: $menu-font-size;
    }

}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;

    text-align: center;

    // Background animation
    background: rgb(242, 242, 242) image('network.jpg') center repeat-x;
    background-size: 200vh;
    will-change: background-position;
    animation: headerBgScroll 60s linear infinite alternate;

    nav {
        font-size: $menu-font-size;

        form {
            display: inline;
        }

        input {
            height: $menu-font-size + 2pt;
            font-size: $menu-font-size - 4pt;
            width: 14ch;
        }
    }

    h1 {
        // Make sure menu's from above don't interfere
        clear: both;

        // Make each span appear on a new line
        span {
            display: block;
        }

        // Don't underline links
        a {
            text-decoration: none;
        }

        // header is lowercase
        text-transform: lowercase;

        // Specific styling and typography
        opacity: 0.9;
        mix-blend-mode: multiply;

        line-height: calc(6pt + 5.4vw);

        .header-ds {
            color: $dsrp-red;
            font-size: calc(6pt + 6vw);
            margin-left: -0.1ch;
            word-spacing: -0.3ch;
            letter-spacing: 0.02ch;
        }

        .header-rp {
            color: rgba(0, 173, 239, 0.77);
            font-size: calc(8pt + 4vw);
            margin-left: 2.9ch;
            letter-spacing: 0.01ch;
        }
    }
}
