@import 'purecss';
@import 'asset-helpers';

// Site-specific defaults
$dsrp-red: rgb(255, 82, 16);
$dsrp-blue: rgb(0, 173, 239);

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    text-align: center;

    background: rgb(242, 242, 242) image('network.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    // padding-top: 10vh;

    h1 {
        span {
            display: block;
            text-transform: lowercase;
            opacity: 0.9;
            mix-blend-mode: multiply;
        }
    }

    .header-ds {
        color: $dsrp-red;
        font-size: 200%;
    }

    .header-rp {
        color: rgba(0, 173, 239, 0.77);
        font-size: 150%;
    }
}
