@import 'purecss';
@import 'asset-helpers';

// Site-specific defaults
$dsrp-red: rgb(255, 82, 16);
$dsrp-blue: rgb(0, 173, 239);

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;

    text-align: center;

    background: rgb(242, 242, 242) image('network.jpg') no-repeat center fixed;
    background-size: 200px 200px;

    span {
        display: block;
        text-transform: lowercase;
    }

    .header-ds {
        color: $dsrp-red;
        font-size: 20pt;
    }

    .header-rp {
        color: $dsrp-blue;
        font-size: 15pt;
    }
}
