@import 'asset-helpers';

// Site-specific defaults
$dsrp-red: rgb(255, 82, 16);
$dsrp-blue: rgb(0, 173, 239);

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@function bgScrollOffset() {
    @return round(random()*100%);
}

@keyframes headerBgScroll {
    0% { background-position: bgScrollOffset() bgScrollOffset() }
    100% { background-position: bgScrollOffset() bgScrollOffset() }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    text-align: center;

    background: rgb(242, 242, 242) image('network.jpg') no-repeat;
    background-size: 200vh;
    animation: headerBgScroll 60s linear infinite alternate;
    // padding-top: 10vh;

    nav {
        height: 16pt;
    }

    h1 {
        span {
            display: block;
        }

        text-transform: lowercase;
        opacity: 0.9;
        mix-blend-mode: multiply;

        // Typographic spacing
        line-height: 33pt;

        .header-ds {
            color: $dsrp-red;
            font-size: 37pt;
            margin-left: -0.1ch;
            word-spacing: -0.3ch;
            letter-spacing: 0.02ch;
        }

        .header-rp {
            color: rgba(0, 173, 239, 0.77);
            font-size: 25pt;
            margin-left: 2.9ch;
            letter-spacing: 0.01ch;
        }
    }
}
